<ion-content>
  <br /><br />
  <h1
    style="
      text-align: center;
      font-size: 36px;
      font-family: 'Courier New', Courier, monospace;
    "
  >
    Movie App
  </h1>
  <br /><br /><br /><br /><br /><br />

  <ion-input [(ngModel)]="username" placeholder="kullanıcı adı"></ion-input>
  <br />


  <ion-input  type="password" [(ngModel)]="password" placeholder="sifre"></ion-input>
  <br />
  <br />
  <ion-button (click)="login()" expand="block" fill="clear" shape="round"> Giriş </ion-button>

  <p>Hesabın yok mu ? Kaydol</p>
</ion-content>
