<ion-header>

</ion-header>

<ion-content>

<div style="width: 375px;height: 250px;background-image: url({{imagePath}}{{detailInfo.poster_path}});background-size: 50%;

opacity: 0.5;
object-fit: cover;
background-repeat: no-repeat!important;
box-shadow: 10 50px 50px 10px rgb(14, 13, 13);
background-size: cover;
background-attachment: fixed!important;
background-position: center center!important;">





</div>
<ion-icon (click)="back()" size="large" style="color: white;margin: 10px; position: absolute;top: 20px;left: 10px;" name="arrow-back-outline"></ion-icon>

<div style="height: 140px;">

  <p style="text-align: center;color: rgb(255, 255, 255);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{detailInfo.original_title}}</p>


      <ion-icon  size="large" style="color: rgb(255, 255, 255);color: rgb(255, 255, 255);
      position: absolute;
      left: 20px;" name="time-outline"></ion-icon>

<p style="color: rgb(204, 198, 198);
position: absolute;
top: 330px;
left: 20px;
font-size: 12px;">{{detailInfo.runtime}}dk</p>


      <ion-icon (click)="addFavorite()" style="color: white;position: absolute;left: 105px;" size="large"  name="heart-outline"></ion-icon>

      <ion-icon style="color: white;position: absolute;left: 205px;" size="large" name="star-half-outline"></ion-icon>

      <ion-icon (click)="addWatchlist()" size="large"  style="color: rgb(255, 255, 255);color: rgb(255, 255, 255);
      position: absolute;
      left: 300px;" name="bookmark-outline"></ion-icon>



    <p style="color: rgb(204, 198, 198);
    position: absolute;
    top: 330px;
    left: 100px;
    font-size: 12px;">Favorite</p>

    <p style="color: rgb(204, 198, 198);
    position: absolute;
    top: 330px;
    left: 213px;
    font-size: 12px;">{{detailInfo.vote_average}}</p>


    <p style="color: rgb(204, 198, 198);
    position: absolute;
    top: 330px;
    left: 303px;
    font-size: 12px;">Save</p>











</div>



<div id="overview">

<p style="padding-left: 15px;color: rgb(192, 74, 74);;">Overview</p>

<p style="margin:15px;color: rgb(240, 227, 227);font-size: 12px;">{{detailInfo.overview}}
</p>



</div>
</ion-content>
